@import 'normalize', 'fonts';

$font-roboto: 'Roboto', 'Arial', sans-serif;
$font-roboto-medium: 'RobotoMedium', 'Arial', sans-serif;
$font-roboto-light: 'RobotoLight', 'Arial', sans-serif;

@mixin width-block($width: 1160px) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
}

@mixin logo-desctop() {
    width: 80px;
    height: 50px;
    font-size: 1.9rem;
    line-height: 120%;
    border-radius: 2px;
    text-align: center;
}

@mixin flex-direction($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin button($width,$height,$borderRadius:25px) {
    width: $width;
    height: $height;
    font-family: $font-roboto-medium;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: $borderRadius;
    outline: 0;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        background: #E47209;
    }
    &:active {
        background: #4B9200;
    }
}

html {
    scroll-behavior: smooth;
    position: relative;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0px;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

body {
    font-family: $font-roboto;
    color: #FFFFFF;
    width: 100%;
    font-size: 1.6rem;
}

span {
    padding: 0px;
}

h3 {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 130%;
    padding-bottom: 4.0rem;
    color: FFFFFF;

    @media screen and (max-width: 1000px) {
        padding-bottom: 2rem;
    }

    @media screen and (max-width: 640px) {
        font-size: 24px;
        padding-bottom: 1rem;
    }
}

//--------------header------------------------

.header-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: #000000;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media screen and (max-width: 1000px) {
        padding-bottom: 1.3rem;
    }

    @media screen and (max-width: 640px) {
        padding-top: 0rem;
        padding-bottom: 0rem;
        position: fixed;
    }
}

.header-container {
    @include width-block();
    @include flex-direction(row);
    align-items: center;
    justify-content: space-around;
    gap: 438px;

    @media screen and (max-width: 1300px) {
        @include width-block(1100px);
        gap: 300px;
    }

    @media screen and (max-width: 1150px) {
        @include width-block(980px);
        gap: 259px;
    }

    @media screen and (max-width: 1000px) {
        @include width-block(940px);
    }

    @media screen and (max-width: 950px) {
        @include width-block(740px);
        gap: 150px;
    }

    @media screen and (max-width: 760px) {
        gap: 70px;
    }

    @media screen and (max-width: 640px) {
        @include width-block(600px);
        gap: 0px;
        justify-content: space-between;
        height: 34px;
    }

    @media screen and (max-width: 620px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media screen and (max-width: 320px) {
        @include width-block(300px);
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .burger-menu {
        display: none;

        @media screen and (max-width: 640px) {
            display: block;
            width: 18px;
            height: 10px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
        } 
        
        & span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #FFFFFF;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        & span:nth-child(1) {
            top: 0px;
        }

        & span:nth-child(2) {
            top: 4px;
        }

        & span:nth-child(3) {
            top: 8px;
        }

        &.menu-open span:nth-child(1) {
            top: 4px;
            transform: rotate(135deg);
            background: #333B41;
        }

        &.menu-open span:nth-child(2) {
            opacity: 0;
            right: -60px;
            background: #333B41;
        }

        &.menu-open span:nth-child(3) {
            top: 4px;
            transform: rotate(-135deg);
            background: #333B41;
        }

        &.menu-open {
            z-index: 20;
        }
    }

        .nav-logo-container {
            @include flex-direction(row);
            align-items: center;
            gap: 63px;

            @media screen and (max-width: 950px) {
                gap: 40px;
            }

            @media screen and (max-width: 760px) {
                gap: 20px;
            }

            @media screen and (max-width: 640px) {
                gap: 0px;
            }

                .navigation {
                    @include flex-direction(row);
                    gap: 58px;
                    font-size: 1.6rem;
                    font-weight: 500;

                    @media screen and (max-width: 1150px) {
                        gap: 48px;
                    }

                    @media screen and (max-width: 950px) {
                        gap: 25px;
                    }

                    @media screen and (max-width: 760px) {
                        gap: 15px;
                    }

                    @media screen and (max-width: 640px) {
                        display: none;
                    }

                    a:hover {
                        color: rgb(249, 128, 75);
                    }
                }
        }

    .origin-link {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;

        @media screen and (max-width: 640px) {
            display: none;
        }

        &:hover {
            color: rgb(249, 128, 75);
         }
    }
}

.logo {
    position: relative;
    @include flex-direction(row);
    align-items: center;
    justify-content: center;
    @include logo-desctop();
    border: 1px solid #FFFFFF;

        @media screen and (max-width: 640px) {
            border: none;
            width: 47px;
            height: 29px;
        }

        @media screen and (max-width: 320px) {
            padding-top: 0.1rem;
        }

        .logo-img {
            position: absolute;
            left: 0.8rem;
            bottom: 0.5rem;

            @media screen and (max-width: 640px) {
                width: 8px;
                left: 0.4rem;
                bottom: 0.3rem;
            }
        }
}

.activ-link {
    color: #F9804B;
    pointer-events: none;
    cursor: default;
}

h1 {
    font-size: 1.9rem;
    line-height: 120%;
    margin: 0px;
    font-weight: 400;

    @media screen and (max-width: 640px) {
        font-size: 1.23rem;
    }
}

.burger-menu-container {
    position: absolute;
    z-index: 15;
    width: 100%;
    @include flex-direction(column);
    background-color: #FFFFFF;
    color: #333B41;
    top: 0;
    left: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    transition: all 1s;
    align-items: flex-start;

    .logo {
        color: #FE9013;
        border: 1px solid #FE9013;
        margin-bottom: 30.4px;
        padding: 6px 9px;
    }

    .logo-img {
        left: 0.8rem;
        bottom: 0.5rem;
    }

    h1 {
        font-weight: 400;
        font-size: 15.2116px;
        line-height: 120%;

    }

    .navigation {
        flex-direction: column;
        margin: 0px;
            li {
                margin-bottom: 19px;
            }
    }


}

.menu-open {
    left: 0;
    transition: all 1s;
}

.background-dark {
    position: absolute;
    top: -100vh;
    z-index: -15;
    opacity: 0;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    transition: opacity 1s;
}

.background-active {
    transition: opacity 1s;
    top: 0;
    z-index: 10;
    opacity: 0.5;
}

//----------panda----------------

.panda-background {
    width: 100%;
    height: 466px;
    background-image: url('../../../assets/images/donate/panda_bg.jpg');
    background-repeat: no-repeat;
    background-position: top 7.7rem center;
    background-size: 1600px;
    @media screen and (min-width: 1601px) {
        background-size: cover;
    }

    @media screen and (max-width: 1000px) {
        background-position: top 8rem right -42.6rem;
        height: 470px;
    }

    @media screen and (max-width: 640px) {
        background-image: url('../../../assets/images/donate/640px/panda_bg.jpg');
        background-position: top 3.4rem right;
        height: 369px;
        background-size: auto;
    }

    @media screen and (max-width: 320px) {
        background-image: url('../../../assets/images/donate/320px/Panda\ diet\ for\ the\ day..jpg');
        background-position: top 3.4rem right;
        height: 220px;
        background-size: auto;
    }
}

//-------------donate-------------

.donate-all-wrapper {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

//----------donate-description-----------

.donate-description {
    @include width-block();
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 45px;
    @include flex-direction(column);
    align-items: stretch;

    @media screen and (max-width: 1000px) {
        @include width-block(940px);
    }

    @media screen and (max-width: 640px) {
        @include width-block(600px);
        padding-top: 30px;
        padding-bottom: 29px;
    }

    @media screen and (max-width: 320px) {
        @include width-block(300px);
    }

    @media screen and (max-width: 320px) {
        padding-bottom: 24px;
    }

    h3 {
        font-weight: 300;
        font-size: 36px;
        line-height: 130%;
        padding-bottom: 10px;

        @media screen and (max-width: 1000px) {
            // text-align: left;
            width: 90%;
            padding-bottom: 31px;
        }

        @media screen and (max-width: 640px) {
            width: 100%;
            font-size: 2.4rem;
            padding-bottom: 15px;
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: left;
        padding-right: 5px
    }
}

//-----------donation-information-----------

.donation-information {
    @include width-block();
    color: #FE9013;
    padding-bottom: 21px;

    @media screen and (max-width: 1000px) {
        @include width-block(940px);
        padding-bottom: 18px;
    }

    @media screen and (max-width: 640px) {
        @include width-block(600px);
    }

    @media screen and (max-width: 320px) {
        @include width-block(300px);
    }

        h3 {
            text-align: left;
            font-weight: 400;
            font-size: 36px;
            line-height: 130%;

            @media screen and (max-width: 320px) {
                font-size: 24px;
            }
        }
}

//----------donate-------------

.donate-wrapper {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-bottom: 177px;

    @media screen and (max-width: 1000px) {
        padding-bottom: 30px;
    }

    @media screen and (max-width: 640px) {
        padding-bottom: 46px;
    }

    @media screen and (max-width: 320px) {
        padding-bottom: 19px;
    }

        .donate-container-blur {
            @include width-block();
            box-sizing: border-box;
            background: rgba(253, 253, 255, 0.52);
            border-radius: 20px;
            padding: 40px 92px 62px;

            @media screen and (max-width: 1000px) {
                @include width-block(940px);
                padding: 22px 47px 44px;
            }

            @media screen and (max-width: 640px) {
                @include width-block(600px);
                padding: 31px 0px 29px;
            }

            @media screen and (max-width: 320px) {
                @include width-block(300px);
                padding: 22px 0px 19px;
            }

                .donate-container {
                    @include flex-direction(column);
                    align-items: center;
                    justify-content: space-between;
                    color: #333B41;

                        h2 {
                            font-weight: 400;
                            font-size: 48px;
                            line-height: 120%;
                            color: #FE9013;
                            padding-bottom: 20px;
                            margin-left: -13px;

                            @media screen and (max-width: 1000px) {
                                padding-bottom: 11px;
                            }

                            @media screen and (max-width: 640px) {
                                padding-bottom: 21px;
                                padding-left: 14px;
                            }

                            @media screen and (max-width: 320px) {
                                font-size: 24px;
                                padding-bottom: 10px;
                            }
                        }
                }  
        }
} 

.donate-text {
    align-self: flex-start;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    @media screen and (max-width: 640px) {
        align-self: center;
        text-align: center;
    }

    @media screen and (max-width: 320px) {
        font-size: 16px;
    }
}

.donate-sketch {
    @include flex-direction(row);
    align-items: center;
    justify-content: start;
    margin-top: 60px;
    margin-bottom: 45px;
    margin-left: -15px;

    @media screen and (max-width: 640px) {
        margin-top: 50px;
        margin-bottom: 39px;
    }

    @media screen and (max-width: 550px) {
        width: 85%;
    }

    @media screen and (max-width: 320px) {
        margin-top: 13px;
        width: 100%;
        margin-left: 7px;
        margin-bottom: 3px;
    }


        .donate-sketch-info {
            margin-top: 50px;

            @media screen and (max-width: 320px) {
                margin-top: 29px;
            }
        }

        .donate-sketch-multiply {
            margin-left: 15px;
            margin-right: 60px;
            margin-top: 23px;

            @media screen and (max-width: 320px) {
                margin-left: 0px;
                margin-right: 37px;
                margin-top: 12px;
            }
        }

        .donate-sketch-amount {
            font-weight: 500;
            font-size: 72px;
            line-height: 80%;
            text-align: center;
            text-transform: uppercase;
            color: #000000;

            @media screen and (max-width: 320px) {
                font-size: 40.6px;
                font-family: $font-roboto-medium;
            }
        }

        .donate-sketch-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #333B41;
            margin-top: 13px;

            @media screen and (max-width: 320px) {
                font-size: 9px;
            }
        }

        .cross {
            @media screen and (max-width: 320px) {
                width: 7.89px;
                height: 7.89px;
            }
        }

        .icon {
            @media screen and (max-width: 550px) {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: 320px) {
                width: 160px;
                height: 138px;
            }
        }
}

.donate-select-container {
    @include flex-direction(column);
    align-items: center;
    width: 100%;
}

.donate-select-title {
    align-self: flex-start;
    padding-left: 4px;
    padding-bottom: 19px;
    color: #000000;

    @media screen and (max-width: 640px) {
        padding-left: 10px;
        padding-bottom: 8px;
    }

    @media screen and (max-width: 640px) {
        padding-left: 0px;
    }
}

.donate-form {
    @include flex-direction(column);
    align-items: center;
    width: 100%;
}

.donate-radio-container {
    position: relative;
    @include flex-direction(row);
    align-items: flex-start;
    justify-content: space-between;
    font-family: $font-roboto-medium;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    width: 100%;
    height: 27px;
    background-color: #000000;
    border-radius: 2px;
    margin-bottom: 97px;
    color: #000000;

    @media screen and (max-width: 1000px) {
        width: 96%;
    }

    @media screen and (max-width: 640px) {
        width: 100%;
    }

    @media screen and (max-width: 320px) {
        height: 13.5px;
        margin-bottom: 49px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 3.5%;
        width: 93.5%;
        height: 2px;
        background-color: #72828E;

        @media screen and (max-width: 1000px) {
            left: 1.5%;
            width: 96.5%;
        }

        @media screen and (max-width: 640px) {
            left: 7.5%;
            width: 85.5%;
        }

        @media screen and (max-width: 500px) {
            left: 9.5%;
            width: 80.5%;
        }

        @media screen and (max-width: 400px) {
            left: 7.5%;
            width: 85.5%;
        }

        @media screen and (max-width: 320px) {
            left: 6.5%;
            width: 87.5%;
            top: 7px;
        }
    }

    .amount-item {
        position: relative;
        @include flex-direction(column);
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
            &:nth-child(1) {
                display: none;
            }
        }

        @media screen and (max-width: 640px) {
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                display: none;
            }
        }

            .amount-item-radio {
                position: absolute;
                opacity: 0;
                z-index: -5;
                cursor: pointer;
            }

            .amount-item-dot {
                position: relative;
                margin-top: 7px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #FFEE2E;
                padding: 0 26px;
                background-clip: content-box;

                @media screen and (max-width: 1000px) {
                    padding: 0 10px;
                }

                @media screen and (max-width: 640px) {
                    padding: 0 35px;
                }

                @media screen and (max-width: 400px) {
                    padding: 0 25px;
                }
                @media screen and (max-width: 320px) {
                    width: 5px;
                    height: 5px;
                    margin-top: 4px;
                    padding: 2px 18px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -16px;
                    left: 15%;
                    width: 40px;
                    height: 40px;
                    opacity: 0;
                    border-radius: 50%;
                    border: 2px solid #FE9013;
                    outline: 2px solid #FE9013;
                    outline-offset: -10px;

                    @media screen and (max-width: 1000px) {
                        top: -17px;
                        left: -23%;
                    }

                    @media screen and (max-width: 640px) {
                        left: 22%;
                    }

                    @media screen and (max-width: 400px) {
                        left: 13%;
                    }

                    @media screen and (max-width: 320px) {
                        width: 20px;
                        height: 20px;
                        outline-offset: -7px;
                        left: 20%;
                        top: -7px;
                    }
                }
            }

            .amount-item-radio {
                cursor: pointer;
                }
            }

            .amount {
                position: absolute;
                left: 0px;
                top: 35px;
                @include flex-direction(row);
                align-items: center;
                padding-top: 3px;
                color: #000000;
                user-select: none;

                @media screen and (max-width: 640px) {
                    left: 19px;
                }

                @media screen and (max-width: 400px) {
                    left: 6px;
                }

                @media screen and (max-width: 320px) {
                    font-size: 13px;
                    top: 10px;
                    left: 9px;
                }

                svg {
                    @media screen and (max-width: 320px) {
                        width: 5px;
                        height: 10px;
                    } 
                }
                
            }
    
}

.amount-item-radio:checked ~ .amount span {
    color: #FE9013;
}

.amount-item-radio:checked ~ .amount svg {
    fill: #FE9013;
}

.amount-item-radio:checked + .amount-item-dot::before {
    opacity: 1;
}

.input-amount {
    width: 268px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    border-color: #929699;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    background-image: url(../../../assets/icons/dollar.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding: 16px 7px;

    @media screen and (max-width: 640px) {
        width: 181px;
        height: 43px;
    }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
          }
}

.donate-choice {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    @include flex-direction(row);
    justify-self: start;
    margin-bottom: 17px;
    margin-left: -33px;
    margin-top: 3px;
    gap: 33px;

    @media screen and (max-width: 640px) {
        margin-bottom: 14px;
    }

        .monthly {
            margin-left: 50px;
        }

        .radio {
            vertical-align: top;
            width: 17px;
            height: 17px;
            margin: 23px -20px 6px -7px;

                &:not(checked) {
                    visibility: hidden;
                }
        }

        .radio + label {
            cursor: pointer;
        } 

        .radio:not(checked) + label {
            position: relative;
            padding: 20px 0 15px 20px;

            @media screen and (max-width: 640px) {
                padding: 29px 0 15px 20px;
            }

            @media screen and (max-width: 320px) {
                padding: 24px 0 15px 20px;
            }
        } 

        .radio:not(checked) + label:before {
            content: "";
            position: absolute;
            top: 22px;
            left: -7px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: 1px solid #FE9013;

            @media screen and (max-width: 640px) {
                top: 29px;
                left: -8px;
            }

            @media screen and (max-width: 320px) {
                top: 24px;
                left: -10px;
            }
        }  

        .radio:not(checked) + label:after {
            content: "";
            position: absolute;
            top: 24px;
            left: -5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: rgb(254, 144, 19);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: all 0.2s;

            @media screen and (max-width: 640px) {
                top: 31px;
                left: -6px;
            }

            @media screen and (max-width: 320px) {
                top: 26px;
                left: -7px;
            }
        }  

        .radio:checked + label:after {
            opacity: 1;
        }
} 

.donate-button {
    @include button(298px, 54px);
}

.upper-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-top: 30px;
    margin-left: 5px;

    @media screen and (max-width: 320px) {
        width: 101%;
    }
}


//---------footer-----------

.footer-wrapper {
    background-color: #000000;
    width: 100%;
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;

    @media screen and (max-width: 640px) {
        padding-top: 1.1rem;
        padding-bottom: 4.0rem;
    }

    @media screen and (max-width: 320px) {
        padding-top: 0.5rem;
        padding-bottom: 4.0rem;
    }
}

.footer-container {
    @include width-block();
    @include flex-direction(column);
    justify-content: space-between;
    position: relative;

        @media screen and (max-width: 1300px) {
            @include width-block(1100px);
        }

        @media screen and (max-width: 1150px) {
            @include width-block(980px);
        }

        @media screen and (max-width: 1000px) {
            @include width-block(940px);
        }

        @media screen and (max-width: 950px) {
            @include width-block(740px);
        }

        @media screen and (max-width: 760px) {
            @include width-block(630px);
        }

        @media screen and (max-width: 640px) {
            @include width-block(600px);
        }

        @media screen and (max-width: 320px) {
            @include width-block(300px);
        }
}

.footer-upper-container {
    @include flex-direction(row);
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 4.0rem;

    @media screen and (max-width: 760px) {
        @include flex-direction(column);
        gap: 40px;
    }

    @media screen and (max-width: 640px) {
        padding-bottom: 7.0rem;
    }

    @media screen and (max-width: 350px) {
        align-items: center;
        padding-bottom: 3.0rem;
    }

    .footer-upper-link {
        @media screen and (max-width: 350px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 71px;
        }
    }

        .logo {
            width: 82px;
            height: 52px;
            border: 1px solid #FFFFFF;

            @media screen and (max-width: 320px) {
                border: none;
                width: 128px;
            }

                img {
                    width: 12px;
                    left: 1.2rem;
                    bottom: 0.8rem;

                    @media screen and (max-width: 320px) {
                        left: 7.2rem;
                        bottom: 2rem;
                    }
                }
        }

        .donate-button {
            @include button(298px, 54px, 5px);
            margin-top: 7.0rem;

            @media screen and (max-width: 640px) {
                margin-top: 3.2rem;
            }

            @media screen and (max-width: 320px) {
                padding: 0px;
                margin: 0px;
            }
        }

        .form-container {
            @include flex-direction(column);

            @media screen and (max-width: 1000px) {
                padding-right: 3.2rem;
            }

            @media screen and (max-width: 640px) {
                display: none;
            }

            .form-title {
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 120%;
                text-align: left;
                padding-bottom: 1.3rem
            }
            
            form {
                @include flex-direction(row);
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                    .form-input {
                        width: 228px;
                        height: 43px;
                        box-sizing: border-box;
                        padding-left: 1.0rem;
                        background-color: #000000;
                        color: #FFFFFF;
                        border:#F9804B 0.7px solid;
                        border-radius: 2px;
                        outline: none;

                            &:valid{
                                border:#4B9200 0.7px solid;
                            }
                    }

                    .form-button {
                        width: 129px;
                        height: 42px;
                        background: #F1F3F2;
                        color: #333B41;
                        border: 1px solid #333B41;
                        border-radius: 5px;
                        outline: 0;
                        font-weight: 400;
                        cursor: pointer;
                    }
            }
        }
}

.footer-links-container {
    @include flex-direction(row);
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 420px) {
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }

        .social-network-container {
            margin: 0px;

            @media screen and (max-width: 640px) {
                position: absolute;
                top: 0px;
                right: 0px;
            }

            @media screen and (max-width: 350px) {
                @include flex-direction(row);
                position: relative;
                gap: 30px;
            }

            @media screen and (max-width: 320px) {
                position: absolute;
                top: 6.7rem;
                right: auto;
                left: auto;
            }
        }

        .social-network-container li {
            cursor: pointer;

            @media screen and (max-width: 640px) {
                margin-bottom: 2rem;
            }

            @media screen and (max-width: 320px) {
                margin-bottom: 0rem;
            }

                &:active .social-icon-wrapper {
                    background: #4B9200;
                }

                & a p {
                    @media screen and (max-width: 640px) {
                        display: none;
                    }
                }
        }

        .social-network-container li a {
            @include flex-direction(row);
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
            margin-bottom: 1.1rem;

                &:active {
                    color: #4B9200;
                }

                .social-icon-wrapper {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background: rgba(196, 196, 196, 0.5);
                    @include flex-direction(row);
                    justify-content: center;
                    align-items: center;

                        &:active {
                            background: #4B9200;
                        }
                }
        }

        .navigation {
            @include flex-direction(row);
            gap: 58px;
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0px;
            margin-bottom: 1.3rem;
            margin-left: 12.0rem;

            @media screen and (max-width: 1000px) {
                gap: 48px;
            }

            @media screen and (max-width: 950px) {
                gap: 20px;
            }

            @media screen and (max-width: 760px) {
                margin-left: 3rem;
                gap: 15px;
            }

            @media screen and (max-width: 640px) {
                margin-left: 0rem;
                gap: 37px;
            }

            @media screen and (max-width: 320px) {
                order: 2;
                gap: 30px;
            }

                a:hover {
                    color: rgb(249, 128, 75);
                }
        }

        .copyright-container {
            @include flex-direction(column);  
            font-family: $font-roboto-light;
            font-weight: 100;
            font-size: 1.6rem;
            line-height: 130%;
            gap: 8px;
            margin-bottom: 1.1rem;

            @media screen and (max-width: 320px) {
                order: 1;
                align-self: flex-end;
                font-size: 1.5rem;
            }

                &:active{
                    color: #4B9200;
                    text-decoration: underline;
                    text-underline-offset: 7px;
                    text-decoration-color: #4B9200;
                }
        }
}